@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.contact__form {
  width: 1024px;
  margin: auto;
}

.contact__titles {
  text-align: center;
}

.small-title {
  padding-top: 197px;
}

.title {
  padding-top: 21.33px;
  padding-bottom: 32px;
}

.name_lastname {
  display: grid;
  grid-template-columns: repeat(2, 496px);
  grid-template-rows: 32px, 64px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-top: 50px;
}

.name_lastname p {
  margin-bottom: 10.67px;
  color: #282938;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

.name_lastname input {
  height: 64px;
}

.email_phone {
  display: grid;
  grid-template-columns: repeat(2, 496px);
  grid-template-rows: 32px, 64px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-top: 32px;
}

.email_phone p {
  margin-bottom: 10.67px;
  color: #282938;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

.email_phone input {
  height: 64px;
}

.topic select {
  width: 1024px;
  height: 64px;
  border-radius: 8px;
  border: 1.333px solid #5e3bee;
  background: #fff;
}

.topic p {
  margin-bottom: 10.67px;
  color: #282938;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

.topic {
  margin-top: 32px;
}

.message input {
  width: 1024px;
  height: 240px;
}

input[type=text] {
  border-radius: 8px;
  border: 1.333px solid #5e3bee;
  background: #fff;
}

.message {
  margin-top: 32px;
}

.message p {
  margin-bottom: 10.67px;
  color: #282938;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

.checkbox {
  margin-top: 32px;
}

.contact__btn {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

button {
  width: 160px;
  height: 69px;
  padding: 18.667px 42.667px;
  border-radius: 8px;
  background: #5e3bee;
  color: #F5FCFF;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 150%;
}