@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$font-main-color:#1C1E53;
$font-accent-color:#5E3BEE;
$font-title-color:#282938;
$bg-color:#F5FCFF;
$border-color: #006B6A;
$font-common: 'Roboto', sans-serif;